# non-project files to ignore
*.bat
*.csv
*.dec
*.html
*.ipynb
*.jpg
*.key
*.log
*.p
*.pdf
*.pptx
*.png
*.pptx
*.pyc
*.tmp
*.txt
*.xlsx
test*.*
tmp*.*
*.old*
*~*
*.sav*
Thumbs.db

# streamlit private
.streamlit
# prototype app
lfcgeo_app_proto.py

# jupyter notebook and checkpoint files
.ipynb_checkpoints/

# archive and tmp folder files
archive/
tmp*/
snapshot*/